@model MVC.Models.Home.ListViewModel;
@{
    ViewBag.Title = "List Transactions";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/list.css"/>

<div class="section" x-data="ListComponent()">
    <div class="list_container">
        @if (Model.Transactions.Length > 0)
        {
            @foreach (var transaction in Model.Transactions)
            {
                <div class="list_item" :class="highlight == @transaction.Id ? 'list_item_highlight list_item_show-actions' : ''">
                    <div class="list_item_first-column">
                        <span class="list_item_category">
                            @if (transaction.Category.Name == "Food Delivery")
                            {
                                <svg title="@transaction.Category.Name" xmlns="http://www.w3.org/2000/svg" viewBox="0.25 0.25 14 14" height="20" width="20" stroke-width="1">
                                    <g>
                                        <path d="M13.5,3A2.5,2.5,0,0,0,11,.5H3A2.5,2.5,0,0,0,1.5,5v7.5a1,1,0,0,0,1,1h9a1,1,0,0,0,1-1V5A2.49,2.49,0,0,0,13.5,3Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><line x1="8.5" y1="3.5" x2="4.5" y2="7.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="9.5" y1="6.5" x2="5.5" y2="10.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line>
                                    </g>
                                </svg>
                            }
                            else if (transaction.Category.Name == "Salary")
                            {
                                <svg title="@transaction.Category.Name" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="20" width="20"><g><g><ellipse cx="9" cy="5.5" rx="4.5" ry="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></ellipse><path d="M4.5,5.5v6c0,1.1,2,2,4.5,2s4.5-.9,4.5-2v-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.5,8.5c0,1.1-2,2-4.5,2s-4.5-.9-4.5-2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g><g><path d="M8.9,1.5A6.77,6.77,0,0,0,5,.5C2.51.5.5,1.4.5,2.5.5,3.09,1.08,3.62,2,4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2,10C1.08,9.62.5,9.09.5,8.5v-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2,7C1.08,6.62.5,6.09.5,5.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
                            }
                            else if (transaction.Category.Name == "Online Shopping")
                            {
                                <svg title="@transaction.Category.Name" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="20" width="20"><g><path d="M5.5,5.5h-3a2,2,0,0,0-2,2v4H2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M12.5,11.5h1v-7a1,1,0,0,0-1-1h-6a1,1,0,0,0-1,1v5.68" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><line x1="6" y1="11.5" x2="8.5" y2="11.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><circle cx="4" cy="11.5" r="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle><circle cx="10.5" cy="11.5" r="2" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle></g></svg>
                            }
                            else if (transaction.Category.Name == "Restaurant")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="20" width="20"><g><path d="M.5.5V2.75a2.5,2.5,0,0,0,5,0V.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><line x1="3" y1="0.5" x2="3" y2="13.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><path d="M13.5,13.5a6.5,6.5,0,0,1,0-13" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M13.5,10.5a3.5,3.5,0,0,1,0-7" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
                            }
                            else if (transaction.Category.Name == "Mutual Funds")
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="20" width="20"><g><rect x="0.5" y="0.5" width="13" height="11.5" rx="1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></rect><circle cx="8.5" cy="6.25" r="1.75" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></circle><line x1="8.5" y1="3.25" x2="8.5" y2="4.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="8.5" y1="8" x2="8.5" y2="9.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="11.5" y1="6.25" x2="10.25" y2="6.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="6.75" y1="6.25" x2="5.5" y2="6.25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="10.62" y1="4.13" x2="9.74" y2="5.01" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="7.26" y1="7.49" x2="6.38" y2="8.37" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="10.62" y1="8.37" x2="9.74" y2="7.49" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="7.26" y1="5.01" x2="6.38" y2="4.13" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="3" y1="4.5" x2="3" y2="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="2" y1="12" x2="2" y2="13.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="11.5" y1="12" x2="11.5" y2="13.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line></g></svg>
                            }
                            
                        </span>
                    </div>
                    <div class="list_item_second-column" x-on:click="(e) => { listItemClick(e, @transaction.Id) }">
                        <div class="list_item_description" title="@transaction.Description">
                            @if (string.IsNullOrEmpty(transaction.Description))
                            {
                                <span>@transaction.Category.Name</span>
                            }
                            else
                            {
                                <span> @transaction.Description </span>
                            }
                        </div>
                        <div class="list_item_date">
                            <time>@transaction.DateTime.ToString("D")</time>
                        </div>
                    </div>
                    <div class="list_item_amount list_item_third-column">
                        <span>
                            ₹@transaction.Amount
                        </span>
                    </div>

                    <div class="list_item_actions" x-show="highlight == @transaction.Id" x-cloak x-on:click.outside="highlight = 0">
                        <span x-on:click="(e) => e.stopPropagation()">
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@transaction.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="24" width="24">
                                    <g>
                                        <line x1="1" y1="3.5" x2="13" y2="3.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><path d="M2.5,3.5h9a0,0,0,0,1,0,0v9a1,1,0,0,1-1,1h-7a1,1,0,0,1-1-1v-9A0,0,0,0,1,2.5,3.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><path d="M4.5,3.5V3a2.5,2.5,0,0,1,5,0v.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path><line x1="5.5" y1="5.5" x2="5.5" y2="11" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line><line x1="8.5" y1="5.5" x2="8.5" y2="11" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></line>
                                    </g>
                                </svg>
                            </a>
                        </span>
                        <span x-on:click="(e) => e.stopPropagation()">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@transaction.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="24" width="24" title="Edit">
                                    <path d="M5,12.24.5,13.5,1.76,9,10,.8a1,1,0,0,1,1.43,0L13.2,2.58A1,1,0,0,1,13.2,4Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </span>
                        <span>
                            <svg @@click="resetHighlight" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" height="24" width="24">
                                <path d="M13.19,3.05a1.06,1.06,0,0,0,0-1.49L12.44.81A1.06,1.06,0,0,0,11,.81L7,4.76,3.05.81a1.06,1.06,0,0,0-1.49,0l-.75.75a1.06,1.06,0,0,0,0,1.49l4,4L.81,11a1.06,1.06,0,0,0,0,1.49l.75.75a1.06,1.06,0,0,0,1.49,0L7,9.24,11,13.19a1.06,1.06,0,0,0,1.49,0l.75-.75a1.06,1.06,0,0,0,0-1.49L9.24,7Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="nothing">
                <div class="no-transactions">
                    No Transactions Found
                </div>
                <div class="create-transaction">
                    <a asp-controller="Home" asp-action="Index">
                        Click here to Create a transaction
                    </a>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts
{
    <script src="~/js/list.js"> </script>
}